/* wrong background inside the app*/
.sapFFCLBackgroundDesignTranslucent .sapFFCLArrow {
    background: white;
}

/* Enter your custom styles here */

.iconTabText .sapMITBFilter .sapMITBText {
    overflow: unset;
}

.detailPage .sapMPageFooter .sapMBarRight {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 0rem;
}

html.sap-desktop .sapMShellAppWidthLimited .sapMShellLogoImg {
    visibility: hidden;
}

.sapUiCalItem.sapUiCalItemSel.sapUiCalItemSelBetween:not(.sapUiCalItemNow)>.sapUiCalItemText {
    border: .08rem solid #bdbdbd;
    border-radius: 0.25rem;
    opacity: 0.7;
}

.sapUiSizeCompact .sapUiCalItemSelBetween .sapUiCalItemText,
.sapUiSizeCompact .sapUiCalItemSel.sapUiCalItemSelBetween:not(.sapUiCalItemNow)>.sapUiCalItemText {
    border: .08rem solid #bdbdbd;
    line-height: 1.75rem;
    opacity: 0.7;
}

.sapUiCalWH,
.sapUiCalItem {
    border: none;
}

.sapUiSizeCompact .sapUiFormEdit.sapUiFormM>.sapUiGrid>tbody>tr>td.sapUiFormElementLbl {
    width: 5rem;
}

.sapUiFormEdit.sapUiFormM>.sapUiGrid>tbody>tr>td.sapUiFormElementLbl {
    width: 5rem;
}

.disabledp input {
    pointer-events: none;
    /*color: transparent;*/
    /*text-shadow: 0 0 0 gray;*/
}


/*.subListColumnListItem .sapUiSizeCompact .sapMListTblCell>.sapMLnk,
.sapUiSizeCompact .sapMListTblCell>.sapMText,
.sapUiSizeCompact .sapMListTblCell>.sapMLabel,
.sapUiSizeCompact .sapMListTblCell>.sapMObjectNumber,
.sapUiSizeCompact .sapMListTblCell>.sapMObjectIdentifier,
.sapUiSizeCompact .sapMListTblCell>.sapMObjStatus {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}*/


/*.sapFDynamicPageTitle .sapFDynamicPageTitleMain {
    display: inline-grid;
}*/